
span.right {
	left: auto !important;
	right: 10px !important;
	top: 5px !important;
}

.gameHeading h1 {
	line-height: 12px !important;
	font-size: 12px !important;
}
#gameWrapper #gameContent #games .gameContainer .gamePrice .gameBuy a {
	background: #ffe800 !important;
	padding: 5px !important;
}

.gamePrice {
	padding-top: 10px !important;
	position: relative !important;
}